<!DOCTYPE html>
<html lang="en">
  {{template "header.gohtml" .}}
  <body>
    <!-- Hello World container -->
    <div
      id="hello-world"
      class="text-2xl text-center font-bold text-gray-700 p-6"
    >
      <h1>{{ .Title }}</h1>
      <p>Build {{ .BuildVersion }}</p>
      <p>Session Hello: {{ .HelloSession }}</p>
    </div>
    <!-- Instructions -->
    <div
      id="swap-me"
      class="slide-it text-center text-blue-900 font-bold text-5xl cursor-pointer p-6"
      hx-trigger="click"
      hx-swap="innerHTML transition:true"
      hx-get="/api/hello"
    >
      <p>Click the text to simulate an htmx API call.</p>
    </div>
  </body>
</html>
<!-- Path: internal/gotmpl/models/html/header.gohtml -->
