<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/tailwind.css" />
  <link rel="stylesheet" href="/css/iconoir.css" />
  <script src="/js/htmx.min.js"></script>
  <script src="/js/htmx-response-targets.js"></script>
  <script src="/js/htmx-sse.js"></script>
  <script defer src="/js/custom.js"></script>
  <script defer src="/js/hyperscript.min.js"></script>
</head>
